.main {
 flex: 1;
 color: #fff;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px;
}
.gridIcon {
 width: 80px;
 height: 80px;
 border-radius: 50%;
 background-color: rgba(0, 0, 0, 0.2);
 display: flex;
 justify-content: center;
 align-items: center;
}
.gridTitle {
 font-size: 20px;
 font-weight: bold;
 margin-top: 5px;
 text-transform: capitalize;
}
.gridInfo {
 font-size: 12px;
 margin-top: 3px;
}
